[project]
	description = Android Project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sotheara2nt
[access "refs/for/refs/*"]
	read = group user/Sotheara2nt
	push = group user/Sotheara2nt
	label-Code-Review = -2..+2 group user/Sotheara2nt
	label-Verified = -1..+1 group user/Sotheara2nt
	rebase = group user/Sotheara2nt
	removeReviewer = group user/Sotheara2nt
	submit = group user/Sotheara2nt
[access "refs/heads/*"]
	read = group user/Sotheara2nt
	create = group user/Sotheara2nt
	push = +force group user/Sotheara2nt
	pushMerge = group user/Sotheara2nt
[access "refs/tags/*"]
	push = +force group user/Sotheara2nt
	pushTag = group user/Sotheara2nt
	pushSignedTag = group user/Sotheara2nt
